<%= content_for :header do %>
  Food Label - Edit
<% end %>
<%= content_for :sub_header do %>
  <li><a href="<%= food_labels_path %>"> Food Label </a></li>
  <li class= "active"> Edit </li>
<% end %>
<%= render '/users/base/page_header' %>

<%= render 'form' %>




