<%= content_for :header do %>
  Food labels
<% end %>
<%= content_for :sub_header do %>
  <li class="active"> Food labels </li>
<% end %>
<%= content_for :add_btn do %>
  <%= link_to new_food_label_path , class: "btn border-danger-300 text-danger-300 btn-flat btn-rounded btn-icon btn-sm has-text" do %>
    <i class="icon-plus3"></i>
  <% end %>
<% end %>

<%= render '/users/base/page_header' %>

<div class="content">
  <div class="panel panel-flat border-top-xlg border-top-theme-color">
    <div class="panel-body table-width">
      <table class="table datatable-basic">
        <thead>
        <tr id="sort_data">
          <th>Name</th>
          <th class ="text-center" id="list_action"><b>Action</b></th>
        </tr>
        </thead>
        <tbody>
        <% @food_labels.each do |food_label| %>
          <tr>
            <td><%= food_label.name %></td>
            <td class="text-center">
              <ul class="icons-list icons-list-vertical">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu9 redicon"></i></a>

                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><%= edit_link(edit_food_label_path(food_label)) %></li>
                    <li><%= delete_link(food_label_path(food_label)) %></li>
                  </ul>
              </ul>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
