<%= content_for :header do %>
  Change Password
<% end %>
<%= content_for :sub_header do %>
  <li class="active"> Change Password </li>
<% end %>
<%= render 'users/base/page_header' %>

<div class="content">
  <div class="panel panel-flat border-top-xlg border-top-theme-color">
   	<div class="panel-body panel-width">
      <%= form_for [@user],:html =>{:class => "form-validate-jquery", :novalidate=>"novalidate"} do |u| %>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <%= label_tag :current_password %>
              <%= u.password_field :current_password, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= label_tag :password %><br/>
              <%= u.password_field :password, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= label_tag :confirm_password %><br/>
              <%= u.password_field :confirm_password, class: "form-control" %>
            </div>
            <div class="form-group">
              <button type="submit" class="btn bg-teal-400 btn-ladda btn-ladda-spinner width150" data-style="expand-right" data-spinner-color="#333" data-spinner-size="20" onclick= "return checkPasswordMatch();">Change Password</button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  function checkPasswordMatch()
  {
    var password = $("#password").val();
    var confirmPassword = $("#confirm_password").val();

    if (password == confirmPassword)
    {
      return true;
    }
    else
    {
      alert("Password not match");
      return false;
    }
  }
</script>