<div class="content">
  <div class="panel panel-flat border-top-xlg border-top-theme-color">
    <div class="panel-body panel-width">
      <div class="row">
        <div class="col-lg-6">
          <%= nested_form_for @order ,:html =>{:class => "form-validate-jquery", :novalidate=>"novalidate"} do |f| %>


              <div class="form-group">
                <%= f.label :dinning_table_id %>
                <%= f.select :dinning_table_id, options_for_select(@dinning_table) , {:prompt => " Select table" } , class: "form-control"  %>     
              </div>

              <div class="form-group">
                <%= f.label :user_id ,"Waiter"%>
                <%= f.select :user_id, options_for_select(@users) , {:prompt => " Select Waiter" } , class: "form-control"  %>     
              </div>


              <div class="form-group">
                <%= f.label :no_of_person %>
                <%= f.number_field :no_of_person , class: "form-control"%>
              </div>

              <%= f.fields_for :order_items do |order_item| %>
                <div class="form-group">
                  <%= order_item.label :food_id ,"Select Food" %>
                  <%= order_item.select :food_id , Food.all.pluck(:name,:id),{}, { :class => 'food_select_bx form-control' }%>
                </div>  
                <div class="form-group">
                  <%= order_item.label :qty ,"Qty" %>
                  <%= order_item.select :qty , 1..100, {}, { :class => 'qty_select_bx form-control' } %>
                </div>
                <%= order_item.link_to_remove "Remove this item" %>
              <% end %>
                <%= f.link_to_add "Add order item", :order_items %>
          
              <div class="form-group">
                <%= f.label :bill_amount %>
                <%= f.text_field :bill_amount , class: "form-control"%>
              </div>

              <div class="form-group">
                <%= f.label :discount %>
                <%= f.text_field :discount, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :paid_amount %>
                <%= f.text_field :paid_amount , class: "form-control"%>
              </div>

              <div class="form-group">
                <%= f.label :is_paid, :class => "mrg-rght" %>
                <label class="switch mrg-btm">
                  <%= f.check_box :is_paid, class: "form-control" %>
                  <div class="slider round"></div>
                </label>  
              </div>


          <div class="actions">
            <div class="row">
              <div class="col-lg-6">
                <%= f.submit :class => "btn bg-teal-400 btn-ladda btn-ladda-spinner width120" %>
              </div>
            </div>
          </div>
 

          <!-- </div> -->
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

  $(".food_select_bx").on("change", function(){
    var food_id = $(this).val();
    var id = this.id;
    var id_number = id.split("order_order_items_attributes_")[1].split("_")[0];
    var qty_id = "order_order_items_attributes_"+id_number+"_qty";
    var qty = $("#"+ qty_id).val();
    $.ajax({
      url: "/get_food_price",
      type: "POST",
      contentType:"application/json",
      data: JSON.stringify({food_id:food_id}),
      success:function(data){
        $("#"+id).parent().find( "span" ).remove();
        $("#"+id).parent().append("<span><span>Price :</span><span class='food_price'>"+ data * qty+" </span></span>");
        calculate_total_price();
      }
    });
  });

  $(".qty_select_bx").on("change", function(){
    var food_id = $(this).prev().val();
    var id = $(this).prev()[0].id;
    var id_number = id.split("order_order_items_attributes_")[1].split("_")[0];
    var qty_id = "order_order_items_attributes_"+id_number+"_qty";
    var qty = $("#"+ qty_id).val();
    $.ajax({
      url: "/get_food_price",
      type: "POST",
      contentType:"application/json",
      data: JSON.stringify({food_id:food_id}),
      success:function(data){
        $("#"+id).parent().find( "span" ).remove();
        $("#"+id).parent().append("<span><span>Price :</span><span class='food_price'>"+ data * qty+" </span></span>");
        calculate_total_price();
      }
    });
  });

  function calculate_total_price(){
    var total_price = 0;
    for (i = 0; i < $(".food_price").length; i++) {
      total_price = parseFloat(total_price) + parseFloat($(".food_price").eq(i).text());
    }
    $("#order_bill_amount").val(total_price);
    var discount = $("#order_discount").val();
    if(discount){
      $("#order_paid_amount").val(total_price-parseFloat(discount));
    }else{
      $("#order_paid_amount").val(total_price);
    }
  }

  $("#order_discount").on("keyup", function(){
    var discount = $("#order_discount").val();
    var bill_amount = $("#order_bill_amount").val();
    var paid_amount = (parseFloat(bill_amount) - parseFloat(discount));

    if (discount){
      $("#order_paid_amount").val(paid_amount);
    }else{
      $("#order_paid_amount").val(bill_amount);
    }
  });

</script>
