<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Dinning table</th>
      <th>User</th>
      <th>No of person</th>
      <th>Bill amount</th>
      <th>Discount</th>
      <th>Payable amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.dinning_table_id %></td>
        <td><%= order.user.email %></td>
        <td><%= order.no_of_person %></td>
        <td><%= order.bill_amount %></td>
        <td><%= order.discount %></td>
        <td><%= order.paid_amount %></td>
        <td><%= link_to 'Pay', pay_bill_path(:order_id=>order.id) %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
