<p id="notice"><%= notice %></p>

<p>
  <strong>Dinning table:</strong>
  <%= @order.dinning_table_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>No of person:</strong>
  <%= @order.no_of_person %>
</p>

<p>
  <strong>Bill amount:</strong>
  <%= @order.bill_amount %>
</p>

<% @order.order_items.each do |order_item| %>
	<p>
	  <strong>Order Item name:</strong>
	  <%= order_item.food.name %>

	  <strong>qty:</strong>
	  <%= order_item.qty %>
	</p>
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
