<span class="left_panel">
  <div class="table">
    <%= render partial: 'index', locals: {index_arr: ApiIndexRenderer.user_api_index } %>
  </div>
</span>
<span class='right_panel'>
    Example <br>
    email: <br>
    password: <br>
</span>

<!-- Sign Up Api -->
<%= render  partial: 'api', locals: {
            link_name: 'Sign up',
            link_href: 'signup',
            link_method: 'POST',
            original_link: api_signup_path ,
            parameters: [
              {name: 'user[email]', description: 'Email Address of User', required: 1 },
              {name: 'user[password]', description: 'Password', required: 1},
              {name: 'user[password_confirmation]', description: 'Password Confirmation', required: 1},
              {name: 'user[first_name]', description: 'First Name', required: 1},
              {name: 'user[last_name]', description: 'Last Name', required: 1},
              {name: 'user[contact_no]', description: 'Contact Num', required: 1},
              {name: 'user[gender]', description: 'Gender [ Must be Male or Female ]', required: 0},
              {name: 'user[user_type_id]', description: 'Select type from [ Must be (1,2,3) 1 for SuperAdmin or 2 for BusinessUser or 3 for NormalUser ]', required: 1},
              {name: 'user[device_type]', description: 'Device type', required: 1},
              {name: 'user[device_token]', description: 'Device token', required: 1},
            ],
            options: {}} %>

<!-- Login Api -->
<%= render  partial: 'api', locals: {
            link_name: 'Login',
            link_href: 'login',
            link_method: 'POST',
            original_link: api_login_path ,
            parameters: [
              {name: 'email', description: 'Email Address of User', required: 1 },
              {name: 'password', description: 'Password', required: 1},
              {name: 'device_token', description: 'Device Id', required: 1},
              {name: 'device_type', description: 'Device type', required: 1},
            ],
            options: {}} %>


<!-- Logout -->
<%= render  partial: 'api', locals: {
            link_name: 'Logout',
            link_href: 'logout',
            link_method: 'GET',
            original_link: api_logout_path,
            parameters: [
              {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }

            ],
            options: {}} %>

<!-- Change Password Api -->
<%= render  partial: 'api', locals: {
            link_name: 'Change Password',
            link_href: 'change_password',
            link_method: 'POST',
            original_link: api_change_password_path,
            parameters: [
              {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
              {name: 'user[current_password]', description: 'Current Password', required: 1 },
              {name: 'user[password]', description: 'New Password', required: 1 },

            ],
            options: {}} %>

<!-- Forgot Password Api -->
<%= render  partial: 'api', locals: {
            link_name: 'Forgot Password',
            link_href: 'forgot_password',
            link_method: 'POST',
            original_link: api_forgot_password_path,
            parameters: [
              {name: 'email', description: 'Email Address of User', required: 1 }
            ],
            options: {}} %>


<!-- Check Table Availability Api -->
<%= render  partial: 'api', locals: {
            link_name: 'Check Table Availability',
            link_href: 'check_table_availability',
            link_method: 'POST',
            original_link: api_check_table_availability_path,
            parameters: [
              {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
              {name: 'no_of_person', description: 'booking for how many person', required: 1 }
            ],
            options: {}} %>


<!-- Place Order Api -->
<%= render  partial: 'api', locals: {
            link_name: 'Place Order',
            link_href: 'place_order',
            link_method: 'POST',
            original_link: api_place_order_path,
            parameters: [
              {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
              {name: 'order[dinning_table_id]', description: 'Order is for which table', required: 1 },
              {name: 'order[no_of_person]', description: 'No of pesron on table', required: 1 },
              {name: 'order[order_items_attributes]', description: 'array of ordered items ex-  [{:food_id => 1, :qty =>1},{:food_id => 1, :qty => 3} ]', required:1} 
            ],
            options: {}} %>            