<span class="left_panel">
  <div class="table">
    <%= render partial: 'index', locals: {index_arr: ApiIndexRenderer.user_api_index } %>
  </div>
</span>
<span class='right_panel'>
    Example <br>
    email: <br>
    password: <br>
</span>

<!-- Sign Up Api -->
<%= render  partial: 'api', locals: {
            link_name: 'Sign up',
            link_href: 'signup',
            link_method: 'POST',
            original_link: api_signup_path ,
            parameters: [
              {name: 'user[email]', description: 'Email Address of User', required: 1 },
              {name: 'user[password]', description: 'Password', required: 1},
              {name: 'user[password_confirmation]', description: 'Password Confirmation', required: 1},
              {name: 'user[first_name]', description: 'First Name', required: 1},
              {name: 'user[last_name]', description: 'Last Name', required: 1},
              {name: 'user[contact_no]', description: 'Contact Num', required: 1},
              {name: 'user[gender]', description: 'Gender [ Must be Male or Female ]', required: 0},
              {name: 'user[user_type_id]', description: 'Select type from [ Must be (1,2,3) 1 for SuperAdmin or 2 for BusinessUser or 3 for NormalUser ]', required: 1},
              {name: 'user[device_type]', description: 'Device type', required: 1},
              {name: 'user[device_token]', description: 'Device token', required: 1},
            ],
            options: {}} %>

<!-- Login Api -->
<%= render  partial: 'api', locals: {
            link_name: 'Login',
            link_href: 'login',
            link_method: 'POST',
            original_link: "#{}",
            parameters: [
              {name: 'username', description: 'User name of User', required: 1 },
              {name: 'password', description: 'Password', required: 1},
              {name: 'version', description: 'User api version', required: 0},
              {name: 'device_token', description: 'Device Id', required: 1},
              {name: 'device_type', description: 'Device type', required: 1},
              {name: 'device_udid', description: 'Device udid', required: 1}
            ],
            options: {}} %>


<!-- Logout -->
<%= render  partial: 'api', locals: {
            link_name: 'Logout',
            link_href: 'logout',
            link_method: 'GET',
            original_link: "#{}",
            parameters: [
              {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }

            ],
            options: {}} %>

<!-- Change Password Api -->
<%= render  partial: 'api', locals: {
            link_name: 'Change Password',
            link_href: 'change_password',
            link_method: 'POST',
            original_link: "#",
            parameters: [
              {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
              {name: 'user[current_password]', description: 'Current Password', required: 1 },
              {name: 'user[password]', description: 'New Password', required: 1 },

            ],
            options: {}} %>

<!-- Forgot Password Api -->
<%= render  partial: 'api', locals: {
            link_name: 'Forgot Password',
            link_href: 'forgot_password',
            link_method: 'POST',
            original_link: '#',
            parameters: [
              {name: 'email', description: 'Email Address of User', required: 1 },
              {name: 'device_token_or_udid', description: 'User device udid', required: 1 }
            ],
            options: {}} %>

