<!-- Main sidebar -->
<div class="sidebar sidebar-main">
	<div class="sidebar-content">
		<!-- User menu -->
		<div class="sidebar-user">
			<div class="category-content">
				<div class="media">

						<a href="#" class="media-left"><img src="<%=image_path 'missing_user.png'%>" class="img-circle img-sm" alt=""></a>
					<div class="media-body">
						<span class="media-heading text-semibold"><%#=current_user.first_name.capitalize%></span>
						<div class="text-size-mini text-muted">
							<i class="icon-pin text-size-small"></i>
							<% if current_user.present? %>
								<%= current_user.try(:city) %> , <%= current_user.try(:state) %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /user menu -->
		<!-- Main navigation -->
		<div class="sidebar-category sidebar-category-visible">
			<div class="category-content no-padding">
				<ul class="navigation navigation-main navigation-accordion">
					<!-- Main -->
					<li class="<%#=active_class(super_admin_dashboard_index_path)%>" ><a href="<%#=super_admin_dashboard_index_path%>"><i class="icon-home4"></i> <span>Dashboard</span></a></li>


          <li class="<%= active_class(users_path) %>">
            <a href="<%= users_path %>"><i class="icon-users"></i><span>Users</span></a>
          </li>

          <li class="<%= active_class(orders_path) %>">
            <a href="<%= orders_path %>"><i class="icon-stack2"></i><span>Orders</span></a>
          </li>

          <li class="<%= active_class(dinning_tables_path) %>">
            <a href="<%= dinning_tables_path %>"><i class="icon-stack2"></i><span>Table</span></a>
          </li>

          <li class="<%= active_class(food_categories_path) %>">
            <a href="<%= food_categories_path %>"><i class="icon-stack2"></i><span>Food Categories</span></a>
          </li>

          <li class="<%= active_class(food_types_path) %>">
            <a href="<%= food_types_path %>"><i class="icon-stack2"></i><span>Food Types</span></a>
          </li>

          <li class="<%= active_class(food_labels_path) %>">
            <a href="<%= food_labels_path %>"><i class="icon-stack2"></i><span>Food Labels</span></a>
          </li>

          <li class="<%= active_class(foods_path) %>">
            <a href="<%= foods_path %>"><i class="icon-stack2"></i><span>Food</span></a>
          </li>

          <li id="notification" class="<%#=active_class(super_admin_admin_notifications_path)%>">
						<a href="<%#=super_admin_admin_notifications_path%>" id="notification-link" class="has-ul"><i class="icon-list"></i><span>Reports</span></a>
						<ul>
							<li class="<%= daily_report_path %>">
								<a href="<%= daily_report_path %>">Daily</a>
							</li>
							<li class="<%#= active_class(super_admin_admin_notifications_path(:notification_type =>"upcoming")) %>">
								<a href="<%#= super_admin_admin_notifications_path(:notification_type =>"upcoming") %>">Weekly</a>
							</li>
							<li class="<%#= active_class(super_admin_admin_notifications_path) %>">
								<a href="<%#= super_admin_admin_notifications_path %>">Monthly</a>
							</li>
						</ul>
					</li>



					<!-- /main -->
				</ul>
			</div>
		</div>
		<!-- /main navigation -->
	</div>
</div>
<!-- /main sidebar -->
<script type="text/javascript">
	$( window ).load(function() {
		$("#business-link").click(function(){
			$(this).addClass("sub-ul");
		});
		$("#notification-link").click(function(){
			$(this).addClass("sub-ul");
		});
	});
</script>
