<div class="content">
  <div class="panel panel-flat border-top-xlg border-top-theme-color">
    <div class="panel-body panel-width">
      <div class="row">
        <div class="col-lg-6">
          <%= form_for @food,:html =>{:class => "form-validate-jquery", :novalidate=>"novalidate"} do |f| %>

            <div class="form-group  has-feedback">
              <%= f.label :name %>
              <%= f.text_field :name , class: "form-control"%>
            </div>

            <div class="form-group  has-feedback">
              <%= f.label :ingredients %>
              <%= f.text_area :ingredients , class: "form-control"%>
            </div>

            <div class="form-group  has-feedback">
              <%= f.label :description %>
              <%= f.text_area :description , class: "form-control"%>
            </div>

            <div class="form-group">
              <%= f.label :food_category_id ,"Food Category"%>
              <%= f.select :food_category_id, options_for_select(@food_category) , {:prompt => " Select food category" } , class: "form-control"  %>
            </div>

            <div class="form-group">
              <%= f.label :food_type_id ,"Food Type"%>
              <%= f.select :food_type_id, options_for_select(@food_type) , {:prompt => " Select food type" } , class: "form-control"  %>
            </div>

            <div class="form-group">
              <%= f.label :food_label_id ,"Food Label"%>
              <%= f.select :food_label_id, options_for_select(@food_label) , {:prompt => " Select food label" } , class: "form-control"  %>
            </div>

            <div class="form-group  has-feedback">
              <%= f.label :price %>
              <%= f.text_field :price , class: "form-control"%>
            </div>


            <div class="actions">
              <div class="row">
                <div class="col-lg-6">
                  <%= f.submit :class => "btn bg-teal-400 btn-ladda btn-ladda-spinner " %>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





