<%= content_for :header do %>
  Food - Edit
<% end %>
<%= content_for :sub_header do %>
  <li><a href="<%= foods_path %>"> Food</a></li>
  <li class= "active"> Edit </li>
<% end %>
<%= render '/users/base/page_header' %>

<%= render 'form' %>



