<%= content_for :header do %>
  Food
<% end %>
<%= content_for :sub_header do %>
  <li class="active"> Listing Food </li>
<% end %>
<%= content_for :add_btn do %>
  <%= link_to new_food_path , class: "btn border-danger-300 text-danger-300 btn-flat btn-rounded btn-icon btn-sm has-text" do %>
    <i class="icon-plus3"></i>
  <% end %>
<% end %>

<%= render '/users/base/page_header' %>

<div class="content">
  <div class="panel panel-flat border-top-xlg border-top-theme-color">
    <div class="panel-body table-width">
      <table class="table datatable-basic">
        <thead>
        <tr id="sort_data">
          <th>Name</th>
          <th>Ingredients</th>
          <th>Description</th>
          <th>Food type</th>
          <th>Food category</th>
          <th>Food label</th>
          <th>Price</th>
          <th class ="text-center" id="list_action"><b>Action</b></th>
        </tr>
        </thead>
        <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.ingredients %></td>
            <td><%= food.description %></td>
            <td><%= food.food_category.name %></td>
            <td><%= food.food_type.name %></td>
            <td><%= food.food_label.name %></td>
            <td><%= food.price %></td>
            <td class="text-center">
              <ul class="icons-list icons-list-vertical">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu9 redicon"></i></a>

                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><%= edit_link(edit_food_path(food)) %></li>
                    <li><%= delete_link(food_path(food)) %></li>
                  </ul>
              </ul>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
