
<%= content_for :header do %>
  New Food
<% end %>
<%= content_for :sub_header do %>
  <li><a href="<%= foods_path %>"> Food </a></li>
  <li class= "active"> New </li>
<% end %>
<%= render '/users/base/page_header' %>
<%= render 'form' %>


