<%= content_for :header do %>
	Dininng Table - Edit
<% end %>
<%= content_for :sub_header do %>
	<li><a href="<%= dinning_tables_path %>"> Dinning Tables </a></li>
	<li class= "active"> Edit </li>
<% end %>
<%= render '/users/base/page_header' %>

<%= render 'form' %>

