<%= content_for :header do %>
	Food Category - Edit
<% end %>
<%= content_for :sub_header do %>
	<li><a href="<%= food_categories_path %>"> Food Categories </a></li>
	<li class= "active"> Edit </li>
<% end %>
<%= render '/users/base/page_header' %>

<%= render 'form' %>
