<%= content_for :header do %>
	New Food Category
<% end %>
<%= content_for :sub_header do %>
	<li><a href="<%= food_categories_path %>"> Food Categories </a></li>
	<li class= "active"> New </li>
<% end %>
<%= render '/users/base/page_header' %>
<%= render 'form' %>
